    body {
        font-family: 'Roboto', sans-serif;
        background-color: #ffffff;
    }
    
    .navbar {
        background-color: #e40017;
    }
    
    .navbar a {
        color: white;
        font-size: 24px;
        font-weight: 700;
    }
    
    .laporan {
        height: 60vh;
        font-size: 18px;
    }
    
    .chart-container {
        position: relative;
        height: 30vh;
    }
    
    footer p {
        color: white;
        font-size: 18px;
    }
    
    @media (min-width: 1024px) {
        .chart .chart-container {
            height: 38vh;
        }
        .chart .card {
            height: 44.5vh;
        }
        .laporan {
            overflow-y: scroll;
            height: 90vh;
            overflow: -moz-scrollbars-none;
            /* this will hide the scrollbar in internet explorers */
            -ms-overflow-style: none;
        }
        /* this will hide the scrollbar in webkit based browsers - safari, chrome, etc */
        .laporan::-webkit-scrollbar {
            width: 0 !important;
            display: none;
        }
    }